[Desktop Entry]
Name=JSON Inspector
GenericName=JSON Inspector
Exec=jsoninspector.py
Terminal=false                                  
Icon=/usr/local/share/jsoninspector/
Type=Application                                
Categories=Application;Programming;
Comment=JSON Inspector              
