[Desktop Entry]
Name=JSON Inspector
Exec=jsoninspector.py
Terminal=false                                  
Icon=jsoninspector
Type=Application                                
Categories=GNOME;GTK;Development;
Comment=JSON Inspector              
